{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "google",
  "plugins": ["prettier"],
  "rules": {
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false
        }
      }
    ]
  },
  "parser": "babel-eslint"
}
