@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/***** HEADER & FOOTER *****/

.header,
.footer {
  width: 100%;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282d30;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.header__logo {
  position: relative;
  top: 3px;
}

/***** MAIN *****/

.main {
  width: 958px;
  padding-top: 60px;
  flex-grow: 1;
}

/* Title style */
.main-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #282d30;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Form style */
.add-block__form {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template:
    "title year price"
    "description description description"
    "colors status send";
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 130px;
}

/* Inputs style */
.add-block__form input {
  border-color: #dadada;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  height: 40px;
  padding: 10px;
}

.add-block__form label {
  font-size: 14px;
  line-height: 24px;
  color: #8b8b8b;
  padding-top: 10px;
  padding-left: 10px;
}

.label {
  position: absolute;
}

.label-active {
  transform: translateY(100px);
  transition: ease-in-out;
}

.add-block__form input:focus {
  outline: none;
  border-bottom-color: #282d30;
}

.add-block__form .error {
  border-bottom-color: #c3002f;
}

.input-slot {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  grid-area: title;
}

.year {
  grid-area: year;
}

.price {
  grid-area: price;
}

.description {
  grid-area: description;
}

/* Button style */
.add-block__btn-send {
  grid-area: send;
  border: none;
  height: 44px;
  background-color: #c3002f;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-block__btn-send:focus {
  outline: none;
}

.add-block__btn-send:hover {
  background-color: #e60036;
}

.add-block__btn-send:active {
  background-color: #ff003c;
}

.add-block__btn-send > span {
  padding-right: 20px;
}

/* Select style */
.add-block__select-status {
  grid-area: status;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-color: #dadada;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #8b8b8b;
  cursor: pointer;
}

.add-block__select-status.open {
  border-bottom-color: #282d30;
}

.add-block__select-status.error {
  border-bottom-color: #c3002f;
}

.add-block__select-status > img {
  padding-right: 10px;
}

.add-block__select-status .select-body {
  display: none;
}

.add-block__select-status.open .select-body {
  display: block;
}

.select-title {
  padding-top: 6px;
}

.select-body {
  position: absolute;
  top: 38px;
  left: -1px;
  right: -1px;
  border: 1px solid #dadada;
  border-top-color: #282d30;
  z-index: 2;
  padding: 10px;
}

.select-body-item {
  cursor: pointer;
  margin-bottom: 12px;
}

.select-body-item:last-child {
  margin-bottom: 0;
}

.select-body-item:hover {
  color: #282d30;
}

/* Color list style */
ul {
  list-style: none;
}

.add-block__colors {
  grid-area: colors;
}

.add-block__colors.error {
  border: 1px solid #c3002f;
}

.add-block__colors-title {
  font-size: 14px;
  line-height: 24px;
  color: #8b8b8b;
  padding-bottom: 4px;
}

.colors-list {
  display: flex;
  margin-left: -3px;
}

.color-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 18px;
}

.color-item.active {
  border: 3px solid #c3002f;
}

.color {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.white {
  background-color: #fff;
  border: 1px solid #8b8b8b;
}

.black {
  background-color: #000000;
}

.grey {
  background-color: #c4c4c4;
}

.red {
  background-color: #dd1c10;
}

.green {
  background-color: #77cf61;
}

/* List block styles */
.list-block {
  margin-bottom: 260px;
}

.list-block__title {
  font-size: 20px;
  line-height: 23px;
  color: #282d30;
  border-left: 3px solid #8b8b8b;
  padding-left: 12px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.table-row.head {
  border-radius: 4px 4px 0px 0px;
  background-color: #c3002f;
  height: 44px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.table-row {
  display: grid;
  grid-template-columns: 450px 40px 45px 100px auto auto;
  grid-column-gap: 15px;
  padding: 12px 15px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #323232;
  background-color: #f5f6f6;
  border-bottom: 1px solid #dadada;
}

.table-row:last-child {
  border: none;
}

.table-row > .table-description {
  font-size: 13px;
  color: #8b8b8b;
}

.table-row > div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.table-ceil.table-color-value {
  justify-content: center;
}

.table-row > .table-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-delete > button {
  border: none;
  background-color: transparent;
  color: #8b8b8b;
  cursor: pointer;
  border-radius: 20px;
  padding: 4px 15px;
  width: 85px;
  height: 29px;
}

.table-delete > button:hover {
  background-color: #282d30;
  color: #fff;
}

.table-delete > button:active {
  background-color: #353b3f;
  outline: none;
}

.fill-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #323232;
  background-color: #f5f6f6;
}

/***** MEDIA QUERIES *****/

@media (max-width: 992px) {
  .main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .add-block__form {
    margin-bottom: 60px;
  }

  .table-row {
    padding-right: 5px;
  }

  .table-row {
    grid-template-columns: 250px 40px 45px 100px auto 90px;
    grid-column-gap: 10px;
  }
}

@media (max-width: 719px) {
  .add-block__form {
    grid-template:
      "title title"
      "year price"
      "description description"
      "colors colors"
      "status send";
    grid-template-columns: 1fr 1fr;
  }

  .table-row {
    grid-template:
      "title title title color-value price price"
      "description description description description description description"
      "year status status status delete delete";
    grid-row-gap: 10px;
  }

  .table-row > .table-title {
    grid-area: title;
  }
  .table-row > .table-year {
    grid-area: year;
  }
  .table-row > .table-color-value {
    grid-area: color-value;
  }
  .table-row > .table-status {
    grid-area: status;
  }
  .table-row > .table-price {
    grid-area: price;
  }
  .table-row > .table-delete {
    grid-area: delete;
  }
  .table-row > .table-description {
    grid-area: description;
  }

  .table-row.head {
    display: none;
  }

  .table-delete,
  .table-price {
    display: flex;
    justify-content: flex-end;
  }

  .table-delete > button {
    background-color: #282d30;
    color: #fff;
  }

  .list-block__title {
    margin-bottom: 16px;
  }

  .list-block {
    margin-bottom: 0;
  }

  .main-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 572px) {
  .header__logo {
    width: 350px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    width: 300px;
  }

  .main {
    padding: 30px 0 0 0;
  }
}
